body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.boundary {
    width: 90%;
    max-width: 1500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    overflow: hidden;
}

.main-header {
    background-color: rgb(171, 175, 194);
    color: black;
    padding: 18px;
    font-size: 20px;
}

.navigation {
    background-color: white;
    padding: 12px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.navigation_btn {
    padding: 12px 18px;
    cursor: pointer;
    font-weight: 500;
    color: aquamarine;
}

.navigation_btn_active {
    background-color: lightblue;
    color: black;
    border-radius: 4px;
}

.work_space {
    display: flex;
    gap: 20px;
    padding: 50px;
    background-color: gray;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 0;
}

.card_block {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
}

.card_block h2 {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lightgray;
    font-size: 1.2rem;
    color: black;
    font-size: 1.12rem;
    font-weight: 600;
}

.placeholder {
    height: 150px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-style: italic;
    font-size: 14px;
}

@media (max-width: 768px) {
     .work_space {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    }
}